<launch>
	<!-- tf -->
	<!--<master auto="start"/>-->
   	<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.21 0 0.67 0 0 0 1 base_link laser 50"  />
 	<!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 50" />-->
	
	<!-- map_server -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(find xunjian_nav)/maps/company_map0616.yaml" respawn="false" />

	<!-- amcl -->
  	<include file="$(find xunjian_nav)/launch/amcl.launch" />

	<!-- move_base -->
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    	<rosparam file="$(find xunjian_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    	<rosparam file="$(find xunjian_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    	<rosparam file="$(find xunjian_nav)/config/local_costmap_params.yaml" command="load" />
    	<rosparam file="$(find xunjian_nav)/config/global_costmap_params.yaml" command="load" />
    	<rosparam file="$(find xunjian_nav)/config/base_local_planner_params.yaml" command="load" />
    	<!--<rosparam file="$(find xunjian_nav)/config/xunjian_robot/navfn_params.yaml" command="load"/>-->
  	</node>
  	
	<!--urdf model-->
	<arg name="model" value="$(find xunjian_nav)/urdf/test_model.urdf"/>
	<arg name ="gui" default="true"/>
	<arg name="rvizconfig" default="$(find xunjian_nav)/rviz/urdf.rviz"/>

	<param name = "robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
	<param name = "use_gui" value="$(arg gui)"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz"  required="true"
    	args="-d $(find xunjian_nav)/rviz/nav_test.rviz" />
</launch>
