<launch>
	<arg name="simulation" default="$(optenv XUNJIAN_SIMULATION false)"/>
	<param name="/use_sim_time" value="$(arg simulation)"/>
	
	<!--**************static tf*************-->
	<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.21 0 0.67 0 0 0 1 base_link laser 50"  />
	<node pkg="tf" type="static_transform_publisher" name="ultra1_broadcaster" args="0.20 0.12 0.15 0.52 0 0  base_link ut1 50"  />
	<node pkg="tf" type="static_transform_publisher" name="ultra2_broadcaster" args="0.20 -0.12 0.15 -0.52 0 0  base_link ut2 50"  />
	<node pkg="tf" type="static_transform_publisher" name="ultra3_broadcaster" args="0 -0.24 0.15 -1.57 0 0  base_link ut3 50"  />
	<node pkg="tf" type="static_transform_publisher" name="ultra4_broadcaster" args="-0.20 -0.12 0.15 -2.62 0 0  base_link ut4 50"  />
	<node pkg="tf" type="static_transform_publisher" name="ultra5_broadcaster" args="-0.20 0.12 0.15 2.62 0 0  base_link ut5 50"  />
	<node pkg="tf" type="static_transform_publisher" name="ultra6_broadcaster" args="0 0.24 0.15 1.57 0 0  base_link ut6 50"  />
	<!-- ***********serial port********-->
	<!--<node pkg="xunjian_nav" type="serial_node" name="serial_node"/>-->
	<node pkg="rostopic" type="rostopic" name="rostopic" args="pub -1 encoder_reset std_msgs/Empty"/>
	
	<!-- ***********wheel speed pub and odom pub********-->
	<node pkg="xunjian_nav" type="odometry_pub" name="odometry_pub"  />
  	<node pkg="xunjian_nav" type="ultrasound_pub" name="ultrasound_pub"/>
	<!--<node pkg="xunjian_nav" type="wheel_speed_pub" name="wheel_speed_pub"  />	-->
	<!--<node pkg="xunjian_nav" type="ultrasound_avoidance"  name="ultrasound_avoidance"  />-->
	<!--<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.015 0 0.73 0 0 0 1 base_link laser 50"  />-->
	<!--<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 50" />-->
	
	<!-- ************laser******  -->
  	<!--<include file="$(find rplidar_ros)/launch/rplidar.launch"/>-->
  	<include file="$(find sick_tim)/launch/sick_tim561_2050101.launch"/>
	<!--<include file="$(find laser_filters)/examples/shadow_filter_a2.launch"/>-->
	<!--<include file="$(find laser_filters)/launch/laser_filter_chain.launch" />-->

</launch>
